.article {
  margin: auto;
  border-bottom: 1px solid #343a40;
  width: 70%;
}

.ArticleImage{
  float: left;
  width: 50%;
  margin: 10px;
}

.AddButton{
  background: #0b5de2;
  color: white;
  margin: 10px;
  width: 40%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #0b5de2;
}

.star-ratings{
  margin-right: 48px;
  margin-left: 40px;
}

.stars{
  margin-top: 6%;
}

.price{
  margin-top: 7%;
}