[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
gevent = "*"
greenlet = {version = "*",platform_python_implementation = "=='CPython'"}
flask-cors = "*"
pytest = "*"
pylint = "*"
requests = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
